* {
    box-sizing: border-box;
}

body{
    background-color: #F5F7FB;    
}

.design1{
    position: absolute;
    
    transform: rotate(-128.49deg);

    
    background-color: black;
}
 
.frontPage {
    height: 100vh;
    display: flex;
    
    flex-direction: column; 
    align-items: center;
    justify-content: center;
}

.frontPage--title{
    font-family: 'Karla';
    color: #293264;
    font-weight: 700;
    text-align: center;
    
    margin-bottom: 0px;
    padding: 0px;
}

.frontPage--subtitle{
    font-family: 'Inter';
}

.frontPage--button{
    background: #4D5B9E;
    border-radius: 15px;
    
    color: white;
    border-style: none;
    
    padding: 16px 28px;
    
    font-size: 16px;
}

.choice--item{
    background-color: yellow;
}

