* {
    box-sizing: border-box;
}

body{
    background-color: #F5F7FB;    
}

.design1{
    position: absolute;
    
    transform: rotate(-128.49deg);

    
    background-color: black;
}
 
.frontPage {
    height: 100vh;
    display: flex;
    
    flex-direction: column; 
    align-items: center;
    justify-content: center;
}

.frontPage--title{
    font-family: 'Karla';
    color: #293264;
    font-weight: 700;
    text-align: center;
    
    margin-bottom: 0px;
    padding: 0px;
}

.frontPage--subtitle{
    font-family: 'Inter';
}

.frontPage--button{
    background: #4D5B9E;
    border-radius: 15px;
    
    color: white;
    border-style: none;
    
    padding: 16px 28px;
    
    font-size: 16px;
}

.choice--item{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 10.24px;
    line-height: 12px;
    text-align: center;

    padding: 5px 10px;
    margin: 5px;
    border: 0.794239px solid #4D5B9E;


    color: #293264;

    background-color: white;
    border-radius: 7.94239px;
}

.chosen--button{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 10.24px;
    line-height: 12px;
    text-align: center;

    border: none;
    padding: 5px 10px;
    margin: 5px;

    color: #293264;

    background-color: #D6DBF5;
    border-radius: 7.94239px;
}

.check--answers{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 10.24px;
    line-height: 12px;
    /* identical to box height */

    text-align: center;
    border: none;
    padding: 8px 13px;

    color: #F5F7FB;

    border-radius: 7.94239px;
    background: #4D5B9E;
    border-radius: 10px;
}

.choice--correct{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 10.24px;
    line-height: 12px;
    text-align: center;

    border: none;
    padding: 5px 10px;
    margin: 5px;

    color: #293264;

    background-color: #94D7A2;
    border-radius: 7.94239px;
}

.choice--wrong{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 10.24px;
    line-height: 12px;
    text-align: center;

    border: none;
    padding: 5px 10px;
    margin: 5px;

    color: #293264;

    background-color: #F8BCBC;
    border-radius: 7.94239px;
}

.quiz{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.question--prompt{
    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */


    color: #293264;
}

.item--division{
    width: 800px;
    height: 0px;
    left: 75px;
    top: 107px;

    border: 0.794239px solid #DBDEF0;
}

.score{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12.8px;
    line-height: 15px;
    text-align: center;

    color: #293264;
}


